{% extends "base_auth.html" %}

{% block content %}
    <div class="container">
        <div class="row auth">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card card-outline-secondary  id-input-wrapper">
                    <div class="card-header text-center">
                        Sign in
                    </div>
                    <div class="card-body">
                        <form action="" method="post" class="signin-form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" name="email" class="form-control input-lg" placeholder="E-mail...">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" class="password form-control input-lg" placeholder="Password...">
                                    </div>
                                    <button type="submit" class="btn-pay btn-block">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="col-md-6 pull-left text-left">
                            <a class="signin" href="/signup">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="modal signin-modal" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="auth_modal_label">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                <h2>Sign up</h2>
            </div>
            <div class="modal-body">
                <form class="signup-form register-form">
                    {% csrf_token %}
{#                    <input type="hidden" name="referal" value="{{request.GET.get('r', request.COOKIES.get('r', ''))}}">#}
                    <input type="hidden" name="referal">
                    <div class="form-group">
                        <input type="text" name="username" class="form-control input-lg" placeholder="Your name...">
                    </div>
                    <div class="form-group">
                        <input type="text" name="email" class="form-control input-lg" placeholder="E-mail...">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="password form-control input-lg" placeholder="Passord...">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password_repeat" class="form-control input-lg" placeholder="Password repeat...">
                    </div>
                    <div class="btn-group btn-block" data-toggle="buttons">
                        <label style="min-width: 50%;" class="btn btn-default uneditable-input">
                            <input type="radio" name="user_type" value="advert" autoComplete="off" /> Advertiser
                        </label>
                        <label style="min-width: 50%;" class="btn btn-default uneditable-input active">
                            <input type="radio" checked="checked" name="user_type" value="viewer" autoComplete="off" /> Viewer
                        </label>
                    </div>
                    <button type="submit" class="btn-login btn-primary btn-block btn-lg">Register</button>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-md-6 pull-left text-left">
                    <a class="signin" href="#signin" data-toggle="modal" data-target="#auth_modal" data-dismiss="modal">Sign in</a>
                </div>
                <div className="col-md-6 pull-right">
                    <a class="password-forgot" href="#password-forgot" data-toggle="modal" data-target="#remember_modal" data-dismiss="modal">Forgot passord?</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-dialog" role="document"></div>
{% endblock %}
